<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Execom weather</title>
    </head>
    <body>
        <h3>Welcome <span th:text="${admin.administratorUsername}"></span></h3>
        
        <br />
        
        <form action="/logout" method="GET">
            <button type="submit">Log Out</button>
        </form>
                                        
    </body>
</html>