<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>

<title>Execom weather</title>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
	//<![CDATA[
	function getWeatherReport() {

		$.get("/weather/report?city=" + $("#city").val(), {}, function(a){
			alert(a);
		}).fail(function(){
			alert("Fail!");
		});
	}

	$(document).ready(function() {

		$("#getWeather").click(function() {
			getWeatherReport();
		});
	});
	//]]>
</script>
</head>
<body>
	<h3>Welcome to Execom Weather application</h3>

	<br />

	<form action="/adminPage" method="POST">
		<button type="submit">Admin Log In</button>
	</form>

	<br />

	<div>
		<input type="text" id="city" placeHolder="Enter city name ... " />
		<button id="getWeather">Get weather report</button>
	</div>

	<br />

	<div>
		<p>
			Get weather report for 
			
			<select id="city2">
			     <option th:each="city:${ cities }" th:value="${ city.id }" th:text="${ city.id }"></option>
			</select>
						
			from <input type="date" id="date1" /> to <input type="date" id="date" />
			
			<button id="getWatherHistory">Get report</button>
		</p>
	</div>

</body>
</html>