<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<title>Execom weather</title>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
    //<![CDATA[ 
               
    function getWeatherReport() {

		$.get("/weather/getData").fail(function() {
			alert("Fail!");
		});
	}
	
	function getFreshData() {

        $.get("/weather/getFreshData").fail(function() {
            alert("Fail!");
        });
    }

	$(document).ready(function() {

		$("#getData").click(function() {
			getWeatherReport();
		});
		
		$("#getFreshData").click(function() {
		    getFreshData();
        });
	});
               
    function displayReport(a) {
        for (var i = 0; i < a.length; i++) {
            var date = new Date(a[i].date).toString().substring(0,21);
                    
            fillWeatherTable(date, a[i].temperature);
        }
        $("#weatherReportTable").show();
    }       
    
    function fillForecastTable(a) {
        for (var i=0; i<a.length; i++) {
            var date = new Date(a[i].date).toString().substring(0,15);
            var content = "<tr class='content'><td>" + date + "</td><td align='center'>" + 
                          a[i].tempMin + "</td><td align='center'>" + a[i].tempMax + "</td></tr>";
            $("#weatherForecastTable table").append(content);
        }
        $("#weatherForecastTable").show();
    }
    
    function fillWeatherTable(date, temperature) {
        if(date.indexOf("00:00") > -1)
            $("#weatherReportTable table").append("<tr class='content'><td> &nbsp; </td></tr>");
        
        var content = "<tr class='content'><td>" + date + "</td><td align='center'>" + temperature + "</td></tr>";
        $("#weatherReportTable table").append(content);
        
        if(date.indexOf("23:00") > -1)
            $("#weatherReportTable table").append("<tr class='content'><td> &nbsp; </td></tr>");     
    }
    
    function makeAjaxCall(url, callback) {       
        var weatherPeriod = { cityId : $("#city2").val(), startingDate : $("#date1").val(), endingDate : $("#date2").val() };
        
        if (weatherPeriod.endingDate == "")
           weatherPeriod.endingDate = weatherPeriod.startingDate;

        $.ajax({

            type : "POST",
            contentType : "application/json; charset=utf-8",
            url : url,
            data : JSON.stringify(weatherPeriod),
            dataType : "JSON"

        }).done(function(a) {
            call(callback, a);
        }).fail(function() {
            alert("Fail!");
        });
    }
    
    function call(callback, a) {
        if (callback == "forecast") {
            fillForecastTable(a);
        } else if (callback == "report") {
            displayReport(a);
        }
    }
    
    function clearPage() {
        $("tr.content").remove();
        $("#weatherReportTable").hide();
        $("#weatherForecastTable").hide();
    }

    $(document).ready(function() {

        $("#getWeatherHistory").click(function() {
            makeAjaxCall("/weather/getPeriod", "report");
        });
        
        $("#getWeatherForecast").click(function() {
            makeAjaxCall("/weather/getForecast", "forecast");
        });
        
        $("#clear").click(function(){
            clearPage();
        });
    });
    //]]>
</script>
</head>
<body>
	<h3>Welcome to Execom Weather application</h3>

	
	<br />
	
	<br />

	<button id="getData">Get data</button>
    
    <br /><br />
    
    <button id="getFreshData">Get fresh data</button>

	<br /><br />

	<div>
		<p>
			Get weather report/forecast for <select id="city2">
				<option th:each="city:${ cities }" th:value="${ city.id }"
					th:text="${ city.id }"></option>
			</select> from <input type="date" id="date1" /> to <input type="date"
				id="date2" /> &nbsp;
			<button id="getWeatherHistory">Get report</button>
			&nbsp;
			<button id="getWeatherForecast">Get forecast</button>
		</p>
	</div>

	<div id="weatherReportTable" style="display: none;">
		<table>
			<tr>
				<td align="center"><b>Time:</b></td>
				<td align="center"><b>Temperature:</b></td>
			</tr>
		</table>
	</div>

	<div id="weatherForecastTable" style="display: none;">
		<table>
			<tr>
				<td align="center"><b>Time:</b></td>
				<td align="center"><b>Min Temperature:</b></td>
				<td align="center"><b>Max Temperature:</b></td>
			</tr>
		</table>
	</div>

	<button id="clear">Clear</button>

</body>
</html>