<!DOCTYPE html>
<html>
<head>
<title>Execom weather</title>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
	//<![CDATA[
	function getWeatherReport() {

		$.get("/weather/report?city=" + $("#city").val(), {}, function(a){
			alert(a);
		}).fail(function(){
			alert("Fail!");
		});
	}

	$(document).ready(function() {

		$("#getWeather").click(function() {
			getWeatherReport();
		});
		
		$("#getWatherHistory").click(function() {
            getWeatherReportHistory();
        });
		
		$("#pickHistory").click(function() {
            getPickedWeatherReportHistory();
        });
		
		$("#forecast").click(function() {
            getWeatherForecast();
        });
		
		$("#pickForecast").click(function() {
            getPickedWeatherForecast();
        });
	});
	//]]>
</script>
</head>
<body>
	<h3>Welcome to Execom Weather application</h3>

	<br />

	<form action="/adminPage" method="POST" style="display: none;">
		<button type="submit">Admin Log In</button>
	</form>

	<br />

	<div>
		<input type="text" id="city" placeHolder="Enter city name ... " />
		<button id="getWeather">Get weather report</button>
	</div>

	<br />

	<div>
		<p>
			Get weather report for <input type="text" id="city2" placeHolder="Enter city name ... " /> for last 
			<input type="number" id="numberOfDays" value="1" /> days
			<button id="getWatherHistory">Get weather history</button>
		</p>
	</div>

	<br />

	<div>
		<p>
			Pick a date <input type="datetime" id="date" /> for weather report for 
			<input type="text" id="city3" placeHolder="Enter city name ... " />
			<button id="pickHistory">Get weather report</button>
		</p>
	</div>

	<br />

	<div>
		<p>
			Get weather forecast for <input type="text" id="city4" placeHolder="Enter city name ... " /> for next 
			<input type="number" id="forecastedDays" value="1" />
			<button id="forecast">Get weather forecast</button>
		</p>
	</div>

	<br />

	<div>
		<p>
			Pick a date <input type="datetime" id="dateForecast" /> for forecast a weather for 
			<input type="text" id="city5" placeHolder="Enter city name ... " />
			<button id="pickForecast">Get weather report</button>
		</p>
	</div>

</body>
</html>